*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #080808;
}
:root{
    --main-color:#00ff51;
    --sec-bg-color:#001005;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.logo-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color);
}
.logo-div{
    display: flex;
    width: 400px;
    height: 90px;
    margin-top: 5px;
    /* border: 1px solid red; */
}

.logo-img,.menu-h1{
    margin-top: 10px;
    margin-left: 15px;

}
.menu-h1{
    margin-top: 15px;
}
.md{
    color: aqua;
}
.h{
    color: rgb(8, 247, 8);
}
.as{
    color: rgb(255, 0, 238);
}
.a{
    color: rgb(0, 17, 255);
}
.n{
    color: rgb(254, 199, 0);
}

.menu-list{
    color: white;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.menu-ul{
    display: flex;
    margin-right: 210px;
}
.menu-li{
    list-style: none;
    margin-right: 110px;
}

.menu-li:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.search{
    width: 410px;
    height: 60px;
    /* border: 1px solid rgb(23, 51, 150); */
    margin-right: 50px;
    margin-top: 20px;
}
.search-input{
    width: 250px;
    height: 40px;
    /* border: 1px solid yellow; */
    padding: 10px;
    margin-top: 0px;
    border-top-left-radius:5px ;
     border-bottom-left-radius:5px ;
    
}
.search-btn{
    width: 80px;
    height: 43px;
    margin-left: -4px;
    margin-top: 0px;
    padding: 10px;
    border-radius:5px;
     border-bottom-right-radius:5px;
     background-color: yellow;
    /* border-left: 1px solid yellow; */
}

.profail{
    width: 100%;
    height: 630px;
    margin-top: 100px;
    display: flex;
    /* border: 1px solid green; */
}
.bio{
    width: 800px;
    height: 500px;
    /* border: 1px solid blueviolet; */
    text-align: right;
    margin-left: 200px;
    
}
.iam{
    color: #00ff51;
}
.mehedi{
    color: rgb(132, 0, 255);
}
.name{
    font-size: 80px;
     transition: 0.3s ease;
}
.name:hover{
    font-size: 90px;
}
.bio-p{
    color: white;
}
.Developer{
    color: rgb(255, 6, 226);
}
.frontend{
    color: rgb(0, 250, 250);
}
.bio-h2{
    color: #00ff51;
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.bio-h2:hover{
    font-size:45px ;
}
i{
    font-size: 3rem;
    padding: 1rem;
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    gap: 10px;
    margin: 3rem 0.5rem;
    transition: 0.3s ease;
}
i:hover{
    color: white;
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
/* .btn-div{
    width: 250px;
    height: 50px;
    border: 1px solid blueviolet;
    text-align: right;
} */

.btn{
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    transform: scale(1.2);
    padding: 5px;
    margin-right: 30px;
     transition: 0.3s ease;
    
}
.btn:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 110px;
    height: 40px;


}
.btn2{
    width: 100px;
    height: 35px;
    padding: 5px;
    color: rgb(7, 7, 7);
    transform: scale(1.2);
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background-color: white;
    margin-right: 20px;
     transition: 0.3s ease;
}
.btn2:hover{
    
     box-shadow: 0 0 25px var(--main-color);
     background: var(--main-color);
     width: 110px;
    height: 40px;

}
.p-img{
    width:620px;
    height: 620px;
    border-radius: 50%;
      box-shadow: 0 0 25px var(--main-color);
      margin-left: 100px;
      box-shadow: 0 0 25px var(--main-color);
      transition: 0.5s ease-in-out;
     
     

}
.p-img:hover{
    box-shadow: 0 0 300px var(--main-color);
                
}

.skill-langauge{
    width: 1600px;
    height: 450px;
    /* border: 1px solid aqua; */
    margin: 0 auto;
    display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}
.logo-skill{
    width: 230px;
    height: 90px;
    /* border: 1px solid yellow; */
    margin-top: 15px;
    margin-left: 10px;
}
.logo-skill-img{
    width: 100px;
    height: 90px;
    margin-left: 8px;
    background-color: #407447;
    border-radius: 5px;
}
.langauge-cart{
    width: 500px;
    height: 125px;
    /* border: 1px solid red; */
    background-color:var(--main-color);
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: inset -3PX -3PX rgba(0, 0, 0, 0.5);
    display: flex;
   
    transition: 0.5s ease;
}
.langauge-cart:hover{
 width: 510px;
    height: 135px; 
    background-color: black;  
    box-shadow: 0 0 25px var(--main-color);
}

.langauge-cart-h1,.langauge-cart-p{
       color: rgb(51, 6, 96);
}


.langauge-cart-about{
    margin-top: 15px;
    margin-left: 5px;
}
.langauge-cart-p{
    margin-top: 10px;
}





.about{
    width: 100%;
    height: 760px;
    /* border: 1px solid white; */
    display: flex;
    margin-left: 150px;
    background-color: var(--sec-bg-color);
}
.a-img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--main-color);
}

.about-img{
    width: 700px;
    height: 700px;
    margin-top: 50px;
    /* border: 1px solid red; */
  
}
.a-img:hover{
     box-shadow: 0 0 200px var(--main-color);
}

.a-discprition{
     width: 950px;
    height: 500px;
    /* border: 1px solid rgb(12, 229, 215); */
    margin-left: 30px;
    margin-top: 150px;
}
.a-h1{
    color: var(--main-color);
    font-size: 70px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20px;

}
.me{
    color: rgb(130, 0, 251);
}
.a-p{
    color: white;
    margin-bottom: 25px;
    margin-left: 20px;
}

.btn3{
     width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
    margin-left: 25px;
     transition: 0.3s ease;
}

.btn3:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 110px;
    height: 40px;
}

.skill{
    width: 1200px;
    height: 620px;
    /* border: 1px solid red; */
    background-color: var(--sec-bg-color);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.skill-cart{
    width: 300px;
    height: 550px;
    /* border: 1px solid white; */
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    /* color: black; */
    border-radius: 10px;
     transition: 0.3s ease;
     margin-top: 20px;
    
}

.skill-cart:hover{
    background-color: var(--sec-bg-color);
    box-shadow: 0 0 20px var(--main-color);
    color: white;
    width: 310px;
    height: 565px
}

.skill-img{
    width: 100%;
    height: 330px;
    border-radius: 10px;
}
.skill-h1,.skill-p{
    color:black;
    margin-left: 8px;
    margin-top: 10px;
}

.btn4{
     width: 100px;
    height: 35px;
       margin-top: 20px;
    color: white;
    background-color: rgba(14, 12, 12, 0.808);
    border: 1px solid rgba(14, 12, 12, 0.808);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
    margin-left: 15px;
     transition: 0.3s ease;
}


.btn4:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 110px;
    height: 40px;
 
}
.skill-h1,.skill-p{
    color: rgb(77, 5, 149);
}

.secound-bg{
    width: 100%;
    height: 100%;
    /* background-image: url(images/green1.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--sec-bg-color);
}

/* .green-png{
    background-image: url(images/green1.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.form-div{
    width:1300px;
    height: 470px;
    margin-top: 35px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;

    
}

form{
    height: 450px;
    width: 400px;
    border: 1px solid var(--main-color);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
     /* background-color: rgba(47, 218, 35, 0.266);
    box-shadow: inset -5px -5px -5px -5px rgba(221, 216, 216, 0.349); */
}
input{
    padding: 20px;
    width: 330px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--main-color);
    width: 200px;
}
.form-h1{
    color: rgb(255, 0, 170);
    margin-top: 15px;
}
.btn5{
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
  margin-top: 30px;
     transition: 0.3s ease;
    
}
.btn5:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 110px;
    height: 40px;


}
.msg{
    width: 300px;
    height: 250px;
    /* margin-right: 200px; */
    font-size: 30px;
    display: block;

}
.send-msg{
    width: 350px;
    height: 500px;
     margin-right: 200px;
    /* border: 1px solid yellow; */
}

.btn6{
    width: 150px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
  margin-top: 30px;
  margin-left: 100px;
  
  
     transition: 0.3s ease;
    
}
.btn6:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 160px;
    height: 40px;


}
.foter{
    width: 100%;
    height: 300px;
    background-color: #080808;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

.foter2-child{
    width: 600px;
    height: 300px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    text-align: center;
}
.logo2-div{
    display: flex;
    /* border: 1px solid green; */
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    
}

.logo2-img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.menu2-h1{
    margin-left: 15px;
    margin-top: 15px;
    
}

.foter-p{
    margin-bottom: 200px;
}

.foter1-child{
    
    border: 1px solid rgb(209, 255, 6);
    width: 250px;
    /* margin: 0 auto; */
    /* margin-top: 25px; */
    margin-top: 100px;
    margin-left: 100px;
}
/* .f-li{
    list-style: none;
    color: white;
    font-size: 25px;
    margin-top: 5px;
} */


/* Responsive */

@media screen and (max-width:720px) {
    .menu{
height: 60px;

    }

    .logo-img{
        width: 20px;
        height: 20px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .menu-h1{
        margin-left: 20px;
        margin-top: 12px;
        font-size: 15px;
    }
   .menu-ul{
    display: flex;
    margin-right: 5px;
    margin-left: 50px;
}
.menu-li{
    list-style: none;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-list{
    color: white;
    font-weight: 300;
    font-size: 10px;
    /* margin-right: 20px; */
    margin-left: 15px;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.search{
    /* display: none; */
    width: 160px;
    height: 40px;
    /* border: 1px solid rgb(23, 51, 150); */
   
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    
}


.search-input{
    width: 80px;
    height: 30px;
    /* border: 1px solid yellow; */
    padding: 5px;
    margin-top: 0px;
    border-radius: 5px;
    
}
.search-btn{
    display: none;
    /* width: 35px;
    height: 33px;
    margin-left: -5px;
    margin-top: 0px;
    padding: 5px;
    border-radius:3px;
     border-bottom-right-radius:5px;
     background-color: yellow;
    border-left: 1px solid yellow; */
}



.profail{
    width: 100%;
    height: 630px;
    margin-top: 100px;
    display: flex;
    /* border: 1px solid green; */
}
.bio{
    width: 400px;
    height: 600px;
    /* border: 1px solid blueviolet; */
    text-align: right;
    margin-left: 100px;
    
}

.name{
    font-size: 30px;
}

.name:hover{
    font-size: 33px;
}
.bio-h2{
    color: #00ff51;
    font-size: 50px;
    margin-bottom: 5px;
    transition: 0.3s ease;
    
    
}
.bio-h2:hover{
    font-size:40px ;
}

.bio-p{
    font-size: 16px;
    margin-bottom: 10px;
} 


i{
    font-size: 0.8rem;
    padding: 0.3rem;
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    gap: 2px;
    margin: 0.5rem 0.3rem;
    transition: 0.3s ease;
}



.btn{
    width: 50px;
    height: 25px;
    font-size: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transform: scale(1.2);
    padding: 5px;
    margin-right: 30px;
    margin-top: 15px;
     transition: 0.3s ease;
    
}
.btn:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 55px;
    height: 35px;


}
.btn2{
    width: 50px;
    height: 25px;
    padding: 5px;
    font-size: 10px;
    color: rgb(7, 7, 7);
    transform: scale(1.2);
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: white;
    margin-right: 15px;
     transition: 0.3s ease;
}
.btn2:hover{
    
     box-shadow: 0 0 25px var(--main-color);
     background: var(--main-color);
     width: 55px;
    height: 35px;

}

.p-img{
    width:260px;
    height: 260px;
    border-radius: 50%;
      box-shadow: 0 0 20px var(--main-color);
      margin-left: 30px;
      margin-top: 160px;
      box-shadow: 0 0 25px var(--main-color);
      transition: 0.5s ease-in-out;
     
     

}
.p-img:hover{
    box-shadow: 0 0 300px var(--main-color);
                
}


.a-img{
    width: 350px;
    height: 350px;
    /* margin-left: 50px; */
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--main-color);
}

.a-img:hover{
     box-shadow: 0 0 150px var(--main-color);
}


.a-discprition{
     width: 500px;
    height: 380px;
   
    /* border: 1px solid rgb(12, 229, 215); */
    margin-right: 50px;
    margin-top: 50px;
}
.about{
    width: 100%;
    height: 550px;
    /* border: 1px solid white; */
    /* display: flex;
    margin-left: 150px;
    background-color: var(--sec-bg-color); */
}
.a-h1{
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20px;

}
.a-p{
    font-size: 10px;
    width: 160px;
}


.btn3{
     width: 60px;
    height: 30px;
    font-size: 12px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transform: scale(1.2);
    padding: 5px;
    margin-left: 25px;
     transition: 0.3s ease;
}
.btn3:hover{
    
     width: 70px;
    height: 35px;
    font-size: 15px;
}


.skill-langauge{
    width: 600px;
    height: 650px;
    /* border: 1px solid aqua; */
    margin: 0 50px;
    display: flex;
    
     /* justify-content: space-between; */
     flex-wrap: wrap;
     gap: 5px;
}

.logo-skill{
    width: 150px;
    height: 70px;
    /* border: 1px solid yellow; */
    margin-top: 10px;
    margin-left: 10px;
}

.logo-skill-img{
    width: 80px;
    height: 65px;
    margin-left: 20px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: #407447;
    border-radius: 5px;
}

.langauge-cart{
    width: 150px;
    height: 265px;
    /* border: 1px solid red; */
    background-color:var(--main-color);
    margin-top: 15px;
    margin-left: 35px;
    border-radius: 5px;
    box-shadow: inset -3PX -3PX rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
   
    transition: 0.5s ease;
}

.langauge-cart:hover{
width: 155px;
    height: 270px;
    background-color: black;  
    box-shadow: 0 0 20px var(--main-color);
}
.langauge-cart-h1{
    font-size: 15px;
}

.langauge-cart-h1,.langauge-cart-p{
       color: rgb(51, 6, 96);
}


.langauge-cart-about{
    margin-top: 15px;
    margin-left: 5px;
}
.langauge-cart-p{
    margin-top: 10px;
    padding: 5px;
}

.form-div{
    width:705px;
    height: 1000px;
    margin-top: 35px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    
}

form{
    height: 450px;
    width: 400px;
    border: 1px solid var(--main-color);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
     /* background-color: rgba(47, 218, 35, 0.266);
    box-shadow: inset -5px -5px -5px -5px rgba(221, 216, 216, 0.349); */
}
input{
    padding: 20px;
    width: 330px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--main-color);
    width: 200px;
}
.form-h1{
    color: rgb(255, 0, 170);
    margin-top: 15px;
}
.btn5{
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
  margin-top: 30px;
     transition: 0.3s ease;
    
}
.btn5:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 110px;
    height: 40px;


}
.msg{
    width: 300px;
    height: 250px;
    /* margin-right: 200px; */
    font-size: 30px;
    display: block;

}
.send-msg{
    width: 350px;
    height: 500px;
    margin: 0 auto;
     /* margin-right: 200px; */
    /* border: 1px solid yellow; */
}

.btn6{
    width: 150px;
    height: 35px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    transform: scale(1.2);
    padding: 5px;
  margin-top: 30px;
  margin-left: 100px;
  
  
     transition: 0.3s ease;
    
}
.btn6:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 160px;
    height: 40px;


}

.foter{
    width: 100%;
    height: 200px;
    background-color: #080808;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

.foter2-child{
    width: 600px;
    height: 300px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    text-align: center;
}

}

@media screen and (max-width:767px) {

  
    
      .menu{
height: 80px;
width: 100%;

    }
    /* .menu-h1{
        margin-left: 20px;
        margin-top: 12px;
        font-size: 15px;
    } */
   .menu-ul{
    display: flex;
    margin-right: 5px;
    margin-left: 50px;
}
.menu-li{
    list-style: none;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-list{
    color: white;
    font-weight: 300;
    font-size: 15px;
    /* margin-right: 20px; */
    margin-left: 15x;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.search{
    /* display: none; */
    width: 200px;
    height: 40px;
    /* border: 1px solid rgb(23, 51, 150); */
   
    margin-right: 50px;
    margin-top: 30px;
    display: flex;
    
}


.search-input{
    width: 120px;
    height: 40px;
    /* border: 1px solid yellow; */
    padding: 5px;
    margin-top: 0px;
    border-radius: 5px;
    
}
.search-btn{
    display: none;
    /* width: 35px;
    height: 33px;
    margin-left: -5px;
    margin-top: 0px;
    padding: 5px;
    border-radius:3px;
     border-bottom-right-radius:5px;
     background-color: yellow;
    border-left: 1px solid yellow; */

    
}


.profail{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    /* flex-direction: column;
    flex-direction: column-reverse; */
    margin-left: 10px;
    border: 1px solid green;
}
.bio{
    width: 600px;
    height: 350px;
    border: 1px solid blueviolet;
    text-align: left;
    margin-left:5px;
    
}

.name{
    font-size: 30px;
}

.name:hover{
    font-size: 35px;
}
.bio-h2{
    color: #00ff51;
    font-size: 20px;
    margin-bottom: 25px;
    transition: 0.3s ease;
    
    
}
.bio-h2:hover{
    font-size:23px ;
}

.bio-p{
    font-size: 16px;
    margin-bottom: 10px;
} 


i{
    font-size: 1rem;
    padding: 0.3rem;
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    gap: 5px;
    margin: 1rem 0.5rem;
    transition: 0.3s ease;
}



.btn{
    width: 50px;
    height: 25px;
    font-size: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transform: scale(1.2);
    padding: 5px;
    margin-left: 30px;
    margin-top: 15px;
     transition: 0.3s ease;
    
}
.btn:hover{
     box-shadow: 0 0 25px var(--main-color);
     width: 55px;
    height: 30px;


}
.btn2{
    width: 50px;
    height: 25px;
    padding: 5px;
    font-size: 10px;
    color: rgb(7, 7, 7);
    transform: scale(1.2);
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: white;
    margin-left: 5px;
     transition: 0.3s ease;
}
.btn2:hover{
    
     box-shadow: 0 0 25px var(--main-color);
     background: var(--main-color);
     width: 55px;
    height: 30px;

}

.p-img{
    width:300px;
    height: 300px;
    border-radius: 50%;
      box-shadow: 0 0 20px var(--main-color);
      margin-left: 50px;
      margin-top: 70px;
      margin-bottom: 50px;
      box-shadow: 0 0 25px var(--main-color);
      transition: 0.5s ease-in-out;
     
     

}
.p-img:hover{
    box-shadow: 0 0 300px var(--main-color);
                
}

/* about */

.a-img{
    width: 300px;
    height: 300px;
    /* margin-left: 50px; */
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--main-color);
}

.a-img:hover{
     box-shadow: 0 0 150px var(--main-color);
}


.a-discprition{
     width: 500px;
    height: 380px;
   
    border: 1px solid rgb(12, 229, 215);
    margin-right: 50px;
    margin-top: 50px;
}
.about{
    width: 100%;
    height: 450px;
    border: 1px solid white;
    /* display: flex; */
    margin-left: 10px;
    background-color: var(--sec-bg-color); */
}
.a-h1{
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 20px;

}
.a-p{
    font-size: 15px;
    width: 250px;
}


.btn3{
     width: 60px;
    height: 30px;
    font-size: 12px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transform: scale(1.2);
    padding: 5px;
    margin-left: 25px;
     transition: 0.3s ease;
}
.btn3:hover{
    
     width: 70px;
    height: 35px;
    font-size: 15px;
}




}